body {
	/* change colour later */
	/* background-color: #FF9B21; */
}

p {
	color: #696969;
}

/* SCROLL BAR */

::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
	-webkit-border-radius: 5px;
    border-radius: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: #FF9B21;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* NAV BAR */
 
#nav {
	
}

ul {
	background: rgba(0,0,0,0.3);
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	display: block;
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
	-webkit-transition:color 0.5s ease-in;
	position: relative;
}

li a:visited {
	color: white;
}

li a:hover {
	color: #df9fa2;
}

/* arrow */
#menu a:hover:after {
	content: "";
	position: absolute;
	bottom: -15px;
	width: 0px;
	left: 50%;
	margin-left: -15px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid rgba(0,0,0,0.3);
	-webkit-animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*  HEADER */
 
#header {
	background-image: url("../images/tazmily.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-bottom: 50px;
}
 
h2 {
	font-family: 'Muli';
	margin-top: 0;
	font-weight: bold;
	margin-bottom: 25px;
} 

h3 {
	font-family: 'Muli';
}

h5 {
	font-family: 'Muli';
	font-weight: bold;
	text-transform: uppercase;
}

#description {
	text-align: center;
	margin: 15% 0 10% 0;

}

/* ABOUT */


 
/*  #intro #banner {
	 flex: 1;
	 transform-origin: top center;
	 position: relative;
 } */
 
#about {
	margin: 5% 12% 5% 12%;
}

/* PORTFOLIO */

#portfolio {
	background-color: #f2f2f2;
	padding: 5px 0 20px 0;
}

#portfolio #port-body {
	margin: 5% 12% 5% 12%;
}
 
/* SKILLS */

#skills {
	margin: 5% 12% 5% 12%;
	background-color: white;
}

.bar {
	width: 100%;
	height: 5px;
	background-color: #EBECED;
	-webkit-border-radius: 3px;
	-mozz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 30px;
}

.bar > span {
	display: block;
	height: 100%;
	border-radius: 5px;
	background-color: #FF9B21;
	position: relative;
	overflow: hidden;
	width: 0;
}

/* FOOTER */

footer {
	background: #24254E;
	background: -webkit-linear-gradient(#24254E, #C26265); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#24254E, #C26265); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#24254E, #C26265); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#24254E, #C26265); /* Standard syntax (must be last) */
}

footer #contact-info {
	margin: 5% 12% 0 12%;
	padding: 20px 0 100px 0;
	text-align: center;
}

