<section class="home" id="home">
  <div class="banner_desc">
    <div class="nameplate">
      <h1>Grace Ning</h1>      
    </div>
    <div class="subtitle">
      <p>Software Developer &amp; Freelance Artist</p>
    </div>
  </div>

  <nav>
    <ul class="menu">
      <li><a class="scroll" href="#about">about</a></li>
      <li><a class="scroll" href="#portfolio">gallery</a></li>
      <li><a href="https://github.com/gracening" target="_blank">github</a></li>      
      <li><a class="scroll" href="#contact">contact</a></li>
    </ul>
  </nav>
</section>
