<footer class="contact">
	<div class="contact_container">
	<h3>Want to get in touch? Contact me here:</h3>
		<ul class="icons">
			<li>
				<a class="btn-social" target="_blank" href="mailto:gracening97@gmail.com">
					<i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a class="btn-social" target="_blank" href="https://github.com/gracening">
					<i class="fa fa-github fa-3x" aria-hidden="true"></i>
				</a>
			</li>
			<li>	
				<a class="btn-social" target="_blank" href="https://www.linkedin.com/in/grace-ning">
					<i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
				</a>
			</li>

		</ul>
		<p class="cprt">&copy; Grace Ning 2017</p>
	</div>
</footer>
