<section class="header">
	<div class="nav">		
		<ul class="menu">
			<li><a class="link" href="#home">Home</a></li>
			<li><a class="link" href="#about">About</a></li>
		<!--	<li><a class="link" href="#experience">Projects</a></li> -->
			<li><a class="link" href="#portfolio">Portfolio</a></li>
			<li style="float:right"><a class="link" href="#contact">Contact</a></li>
			<br style="clear:both;" />
		</ul>
	</div>
	
	<div class="banner_desc">
		<div class="nameplate">
			<h3>Hi, I'm</h3>
			<h2>Grace Ning</h2>			
		</div>
		<div class="subtitle">
			<p>Software Developer & Freelance Artist</p>
		</div>
	</div>
</section>
