<section id="header">
	<div id="nav">		
		<ul id="menu">
			<li><a class="link" href="#home">Home</a></li>
			<li><a class="link" href="#about">About</a></li>
		<!--	<li><a class="link" href="#experience">Projects</a></li> -->
			<li><a class="link" href="#portfolio">Portfolio</a></li>
			<li style="float:right"><a class="link" href="#contact">Contact</a></li>
			<br style="clear:both;" />
		</ul>
	</div>
	
	<div id="intro">
		<div id="description">
			<div id="hello">
				<h3>Hi, I'm</h3>
				<h2>Grace Ning</h2>			
			</div>
			<div id="subtitle">
				<p>Software Developer & Freelance Artist</p>
			</div>
		</div>
	</div>
</section>
