#about {
  .desc_container {
  	display: flex;

  	@include breakpoint(mobile) {
  	  flex-direction: column;
  	}

    .title-col {
	  padding-right: 30px;

	  @include breakpoint(mobile) {
  	  	text-align: center;
  	  	padding-right: 0;
  	  }

      img {
        width: auto;
        height: auto;
      }
    }
  }
}
