.home {
  background-image: url("../images/tazmily.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  height: 100vh;
  color: $dark-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .banner_desc {
    text-align: center;    
    
    .nameplate {
      position: relative;
      -webkit-animation: fadeslide 1.5s ease-out forwards; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeslide 1.5s; /* Firefox < 16 */
      -ms-animation: fadeslide 1.5s; /* Internet Explorer */
    }  

    .subtitle p {
      color: $gray-subtitle; 
      font-family: $font-body;
      font-size: 1.4em;
    }
  }
}
