// FONTS
$font-title: 'Didact Gothic', sans-serif;
$font-footer: 'Didact Gothic', sans-serif;
$font-body: 'Muli';
$font-nav: "helvetica neue",helvetica,arial,sans-serif;
$font-art-grid: "helvetica neue",helvetica,arial,sans-serif;

// COLOURS
$light-gray: #696969;
$dark-gray: #333333;
$gray-subtitle: #5A3F3F;

$dark-purple: #24254E;
$orange: #FF8B21;

$footer-text: #FFFFFF;
$footer-hover: #FFDCCE;
$nav-hover: #26254E;
$scroll-track: #F5F5F5;

h1, h2, h3, h5 {
  line-height: 1.1;
  font-family: $font-title;
  color: $dark-gray;
}

h1 {
  font-size: 5rem;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5em;
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 25px;

  @include breakpoint(desktop-up) {
    font-size: 5rem;
  }

  @include breakpoint(mobile) {
    font-size: 2rem;
  }
} 

h3 {
  font-size: 2em;

  @include breakpoint(desktop-up) {
    font-size: 4rem;
  }

  @include breakpoint(tablet) {
    font-size: 1.5rem;
  }

  @include breakpoint(mobile) {
    font-size: 1.2rem;
  }
}

h5 {
  font-weight: bold;
  text-transform: uppercase;
}

p {
  color: $dark-gray;
  font-size: 1rem;

  @include breakpoint(desktop-up) {
    font-size: 3rem;
  }
}
