// FONTS
$font-title: 'Didact Gothic', sans-serif;
$font-footer: 'Didact Gothic', sans-serif;
$font-body: 'Muli';
$font-nav: "helvetica neue",helvetica,arial,sans-serif;
$font-art-grid: "helvetica neue",helvetica,arial,sans-serif;

// COLOURS
$light-gray: #696969;
$dark-gray: #333333;
$gray-subtitle: #5A3F3F;

$light-pink: #FFCCCC;
$dark-purple: #24254E;
$orange: #FF8B21;

$nav-hover: #DF9FA2;
$scroll-track: #F5F5F5;

h1, h2, h3, h5 {
  line-height: 1.1;
  font-family: $font-title;
  color: $dark-gray;
}

h1 {
  font-size: 5em;
  margin: 0;
}

h2 {
  font-size: 2.5em;
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 25px;
} 

h3 {
  font-size: 2em;
}

h5 {
  font-weight: bold;
  text-transform: uppercase;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeslide {
  from { top: -30px; opacity: 0; }
  to   { top:0px; opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeslide {
  from { top: -30px; opacity: 0; }
  to   { top:0px; opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeslide {
  from { top: -30px; opacity: 0; }
  to   { top:0px; opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeslide {
  from { top: -30px; opacity: 0; }
  to   { top:0px; opacity: 1; }
}
