footer {
  background-image: url("../images/tazmily.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;

  .contact_container {
    margin: 5% 12% 0 12%;
    padding: 20px 0 20px 0;
    text-align: center;

    h3 {
      font-family: $font-footer;
      color: $footer-text;
      font-weight: 500;
    }

    .social {
      padding: 0;
      list-style-type:none;
    
      li {
        font-size: 1em;
        display: inline;
        margin-left: 2%;
        margin-right: 2%;

        @include breakpoint(desktop-up) {
          font-size: 2em;
        }

        @include breakpoint(mobile) {
          font-size: 0.7em;
          margin-left: 10px;
          margin-right: 10px;
        }
	    }
	  
      i {
        color: $footer-text;

        &:hover {
          color: $footer-hover;
          transition: 0.5s;
        }
      }

      a {
        text-decoration: none;
      }
    }
    
    .cprt {
      color: $footer-text; 
      font-family: $font-body;
      font-size: 1em;
      margin-top: 3%;
    }
  }
}
