body {
	/* change colour later */
	/* background-color: #FF9B21; */
}

p {
	color: #696969;
	font-size: 19px;
}

@keyframes fadeslide {
    from { top: -30px; opacity: 0; }
    to   { top:0px; opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeslide {
    from { top: -30px; opacity: 0; }
    to   { top:0px; opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeslide {
    from { top: -30px; opacity: 0; }
    to   { top:0px; opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeslide {
    from { top: -30px; opacity: 0; }
    to   { top:0px; opacity: 1; }
}

/* SCROLL BAR */

::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
	-webkit-border-radius: 5px;
    border-radius: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: #FF9B21;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
